Resources/ChangePassword.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<!--  *********************************************************************
     WSDL pro služby související s OTP přihlašováním 

   verze: 2.31
   klasifikace: Veřejný dokument    

Seznam služeb: 
==============
  ChangePasswordOTP
  SendSMSCode                        
                          
 změny:
  15.9.2011 verze 1.0
  21.11.2017 verze 2.27 - sjednocení verzí
  5.9.2018 verze 2.31 - sjednocení verzí
  ************************************************************************ -->    

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
            xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
            xmlns:tns="http://isds.czechpoint.cz/v20/asws" 
            targetNamespace="http://isds.czechpoint.cz/v20/asws">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://isds.czechpoint.cz/v20/asws">
      <xsd:include schemaLocation="ChangePasswordTypes.xsd"/>
    </xsd:schema>
  </types>
  <message name="SendSMSCodeRequest">
    <part element="tns:SendSMSCode" name="SendSMSCode">
    </part>
  </message>
  <message name="SendSMSCodeResponse">
    <part element="tns:SendSMSCodeResponse" name="SendSMSCodeResponse">
    </part>
  </message>
  <message name="ChangePasswordOTPRequest">
    <part element="tns:ChangePasswordOTP" name="ChangePasswordOTP">
    </part>
  </message>
  <message name="ChangePasswordOTPResponse">
    <part element="tns:ChangePasswordOTPResponse" name="ChangePasswordOTPResponse">
    </part>
  </message>
  <portType name="ChangePassword">
    <operation name="SendSMSCode">
      <input message="tns:SendSMSCodeRequest" name="SendSMSCodeRequest">
    </input>
      <output message="tns:SendSMSCodeResponse" name="SendSMSCodeResponse">
    </output>
    </operation>
    <operation name="ChangePasswordOTP">
      <input message="tns:ChangePasswordOTPRequest" name="ChangePasswordOTPRequest">
    </input>
      <output message="tns:ChangePasswordOTPResponse" name="ChangePasswordOTPResponse">
    </output>
    </operation>
  </portType>
  <binding name="ChangePasswordSoap11" type="tns:ChangePassword">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="SendSMSCode">
      <soap:operation soapAction=""/>
      <input name="SendSMSCodeRequest">
        <soap:body use="literal"/>
      </input>
      <output name="SendSMSCodeResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ChangePasswordOTP">
      <soap:operation soapAction=""/>
      <input name="ChangePasswordOTPRequest">
        <soap:body use="literal"/>
      </input>
      <output name="ChangePasswordOTPResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ChangePasswordService">
    <port binding="tns:ChangePasswordSoap11" name="ChangePasswordSoap11">
      <soap:address location="https://www.mojedatovaschranka.cz/asws/changePassword"/>
    </port>
  </service>
</definitions>