Resources/ExtWs.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://agw-as.cz/ats-ws/extWs/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://agw-as.cz/ats-ws/extWs/v1" targetNamespace="http://agw-as.cz/ats-ws/extWs/v1">
  <wsdl:types>
    <xs:schema xmlns:v1="http://agw-as.cz/ats-ws/extWs/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://agw-as.cz/ats-ws/extWs/v1">


    <xs:element name="extWsLogoutRequest" type="v1:extWsLogoutRequestType"/>
    <xs:element name="extWsLogoutResponse" type="v1:extWsLogoutResponseType"/>

    <xs:complexType name="extWsLogoutRequestType">
        <xs:sequence>
            <xs:element name="timeLimitedId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="extWsLogoutResponseType">
        <xs:sequence>
            <xs:element name="status" type="v1:extWsLogoutResponseStatusType">
                <xs:annotation>
                    <xs:documentation>OK/SYSTEM_ERROR</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="extWsLogoutResponseStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"/>
            <xs:enumeration value="SYSTEM_ERROR"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="extWsLogoutResponse">
    <wsdl:part element="tns:extWsLogoutResponse" name="extWsLogoutResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="extWsLogoutRequest">
    <wsdl:part element="tns:extWsLogoutRequest" name="extWsLogoutRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ExtWs">
    <wsdl:operation name="extWsLogout">
      <wsdl:input message="tns:extWsLogoutRequest" name="extWsLogoutRequest">
    </wsdl:input>
      <wsdl:output message="tns:extWsLogoutResponse" name="extWsLogoutResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExtWsSoap11" type="tns:ExtWs">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="extWsLogout">
      <soap:operation soapAction=""/>
      <wsdl:input name="extWsLogoutRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="extWsLogoutResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExtWsService">
    <wsdl:port binding="tns:ExtWsSoap11" name="ExtWsSoap11">
      <soap:address location="https://cert.mojedatovaschranka.cz/asws/extWsEndpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>