Resources/GetCredential.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://agw-as.cz/ats-ws/v1" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://agw-as.cz/ats-ws/v1" targetNamespace="http://agw-as.cz/ats-ws/v1">
  <wsdl:types>
    <xs:schema xmlns:v1="http://agw-as.cz/ats-ws/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://agw-as.cz/ats-ws/v1">


    <xs:element name="root" type="v1:rootType">
    </xs:element>

    <xs:element name="authConfirmationRequest" type="v1:authConfirmationRequestType"/>
    <xs:element name="authConfirmationResponse" type="v1:authConfirmationResponseType"/>

    <xs:complexType name="authConfirmationRequestType">
        <xs:sequence>
            <xs:element name="sessionId" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="rootType">
        <xs:sequence>
            <xs:element ref="v1:authConfirmationRequest"/>
            <xs:element ref="v1:authConfirmationResponse"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="attributesType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="v1:attributeType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="authConfirmationResponseType">
        <xs:sequence>
            <xs:element name="status" type="v1:authConfirmationResponseStatusType">
                <xs:annotation>
                    <xs:documentation>OK/SYSTEM_ERROR/SESSION_NOT_FOUND</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="userRequestIp" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        IP uzivatele pri prihlaseni, muze byt IPv6/IPv4, pokud uzivatel pristupuje pres proxy
                        bere se IP proxy, ktera je nejdal od uzivatele
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="attributes" type="v1:attributesType">
                <xs:annotation>
                    <xs:documentation>atributy z identitniho prostoru</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="authConfirmationResponseStatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"/>
            <xs:enumeration value="SYSTEM_ERROR"/>
            <xs:enumeration value="SESSION_NOT_FOUND"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="attributeType">
        <xs:attribute name="name" type="xs:string" use="required"/>
        <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="authConfirmationResponse">
    <wsdl:part element="tns:authConfirmationResponse" name="authConfirmationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authConfirmationRequest">
    <wsdl:part element="tns:authConfirmationRequest" name="authConfirmationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EndSession">
    <wsdl:operation name="authConfirmation">
      <wsdl:input message="tns:authConfirmationRequest" name="authConfirmationRequest">
    </wsdl:input>
      <wsdl:output message="tns:authConfirmationResponse" name="authConfirmationResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EndSessionSoap11" type="tns:EndSession">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="authConfirmation">
      <soap:operation soapAction=""/>
      <wsdl:input name="authConfirmationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="authConfirmationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EndSessionService">
    <wsdl:port binding="tns:EndSessionSoap11" name="EndSessionSoap11">
      <soap:address location="https://cert.mojedatovaschranka.cz/asws/atsEndpoint"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>