Resources/SetConcept.xsd

<!--
  ~ Copyright (c) 2015 newps.cz .
  ~
  ~ Zhotovitel, newps.cz, nenese odpovednost za vady zpusobene
  ~ neautorizovanym zasahem do zdrojoveho kodu.
  -->

<xs:schema xmlns:tns="http://isds.czechpoint.cz/v20/koncept" elementFormDefault="qualified"
            targetNamespace="http://isds.czechpoint.cz/v20/koncept"
            xmlns:xs="http://www.w3.org/2001/XMLSchema"
        >
    <xs:element name="SetConcept" type="tns:tSetConceptInput" />
    <xs:element name="SetConceptResponse" type="tns:tSetConceptOutput" />
    <xs:complexType name="tSetConceptInput">
        <xs:sequence>
            <xs:element name="dmEnvelope">
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tMessageEnvelopeSub" />
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="dmFiles" type="tns:tFilesArray" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tSetConceptOutput">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="dmID" type="tns:tIdDm" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tSetMultipleConceptOutput">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="dmID" type="tns:tIdDm" />
            <xs:element name="dmStatus" type="tns:tStatus" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tStatus">
        <xs:sequence>
            <xs:element name="dmStatusCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>kód chyby nebo stavu (0000 - bez chyby, 0001 - odložení zprac.)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmStatusMessage" type="xs:string">
                <xs:annotation>
                    <xs:documentation>popis chyby česky</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="tIdDm">
        <xs:annotation>
            <xs:documentation>ID konceptu</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="tFilesArray">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="dmFile">
                <xs:annotation>
                    <xs:documentation>Jedna písemnost DZ (=soubor nebo XML )</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tFile">
                            <xs:attribute name="dmMimeType" type="xs:string" use="required">
                                <xs:annotation>
                                    <xs:documentation>typ písemnosti v MIME zápisu, např. application/pdf nebo image/tiff</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="dmFileMetaType" use="required">
                                <xs:annotation>
                                    <xs:documentation>typ přílohy, první by měla být "main"</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="main" />
                                        <xs:enumeration value="enclosure" />
                                        <xs:enumeration value="signature" />
                                        <xs:enumeration value="meta" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="dmFileGuid" type="xs:string" use="optional">
                                <xs:annotation>
                                    <xs:documentation>nepovinný interní identifikátor tohoto dokumentu - pro vytváření stromu závislostí dokumentů</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="dmUpFileGuid" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>nepovinný interní identifikátor nadřízeného dokumentu (např. pro vztah soubor - podpis aj.)</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="dmFileDescr" type="xs:string" use="required">
                                <xs:annotation>
                                    <xs:documentation>Název souboru</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                            <xs:attribute name="dmFormat" type="xs:string" use="optional">
                                <xs:annotation>
                                    <xs:documentation>nepovinný údaj, nepoužívá se v současné verzi</xs:documentation>
                                </xs:annotation>
                            </xs:attribute>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tFile">
        <xs:choice>
            <xs:element name="dmEncodedContent" type="xs:base64Binary">
                <xs:annotation>
                    <xs:documentation>obálka pro písemnost libovolného podporovaného formátu</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmXMLContent">
                <xs:annotation>
                    <xs:documentation>obálka pro libovolný XML obsah</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:any processContents="skip" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="tMessageEnvelopeSub">
        <xs:annotation>
            <xs:documentation>typ pro WS CreateMessage na vstupu</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:group ref="tns:gMessageEnvelopeSub" />
            <xs:element minOccurs="0" maxOccurs="1" name="dmOVM" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="dmPublishOwnID" nillable="true" type="xs:boolean" />
        </xs:sequence>
        <xs:attribute name="dmType" type="tns:tDmType" use="optional" />
    </xs:complexType>
    <xs:simpleType name="tDmType">
        <xs:annotation>
            <xs:documentation>typ DZ: na vstupu CreateMessage:
                K = komerční DZ, O = vynucení odpovědní DZ, I = iniciační pro ODZ, V = veřejná DZ; nepoužitý atribut = veřejná DZ
                Na výstupu:
                K - smluvní PDZ, O - odpovědní PDZ, G - globálně dotovaná, Z - omezeně dotovaná, D - externě dotovaná, E - EPZ, I - iniciační k ODZ, Y - iniciační k ODZ zkonzumovaná, X - iniciační k ODZ expirovaná, A - iniciační k ODZ dotovaná, B - dotovaná iniciační k ODZ zkonzumovaná, C - dotovaná iniciační k ODZ expirovaná, neuvedeno = veřejná DZ</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="1" />
        </xs:restriction>
    </xs:simpleType>
    <xs:group name="gMessageEnvelopeSub">
        <xs:annotation>
            <xs:documentation>Obálka zprávy bez ID DZ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dmSenderOrgUnit" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka odesílatele slovně; nepovinné, mohou doplňovat ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmSenderOrgUnitNum" nillable="true" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka odesílatele hodnotou z číselníku; ESS, nepovinné</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dbIDRecipient" nillable="true" type="tns:tIdDb">
                <xs:annotation>
                    <xs:documentation>ID datové schránky příjemce</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmRecipientOrgUnit" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka příjemce slovně, nepovinné, možné upřesnění příjemce při podání z portálu</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmRecipientOrgUnitNum" nillable="true" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka příjemce hodnotou z číselníku; ESS, nepovinné</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmToHands" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>K rukám - pomocný údaj </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAnnotation" nillable="true">
                <xs:annotation>
                    <xs:documentation>Textová poznámka (Věc, Předmět, Anotace)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientRefNumber" nillable="true">
                <xs:annotation>
                    <xs:documentation>Číslo jednací za strany příjemce; nepovinné, </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderRefNumber" nillable="true">
                <xs:annotation>
                    <xs:documentation>Číslo jednací za strany odesílatele; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientIdent" nillable="true">
                <xs:annotation>
                    <xs:documentation>Spisová značka ze strany příjemce; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderIdent" nillable="true">
                <xs:annotation>
                    <xs:documentation>Spisová značka a strany odesílatele; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmLegalTitleLaw" nillable="true" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Zmocnění - číslo zákona; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitleYear" nillable="true" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Zmocnění - rok vydání zákona; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitleSect" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Zmocnění - paragraf v zákoně; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitlePar" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Zmocnění - odstavec v paragrafu; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitlePoint" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Zmocnění - písmeno v odstavci; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmPersonalDelivery" nillable="true" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Příznak Do vlastních rukou - může číst pouze adresát nebo osoba s explicitně daným oprávněním</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAllowSubstDelivery" nillable="true" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Náhradní doručení povoleno/nepovoleno - pouze pro některé subjekty (např. soudy)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:simpleType name="tIdDb">
        <xs:annotation>
            <xs:documentation>ID datové schránky</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:length value="7" />
        </xs:restriction>
    </xs:simpleType>
    <xs:group name="gMultipleMessageEnvelopeSub">
        <xs:annotation>
            <xs:documentation>Obálka zprávy bez ID DZ</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="dmSenderOrgUnit" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka odesílatele slovně; nepovinné, mohou doplňovat ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmSenderOrgUnitNum" nillable="true" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka odesílatele hodnotou z číselníku; ESS, nepovinné</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAnnotation" nillable="true">
                <xs:annotation>
                    <xs:documentation>Textová poznámka (Věc, Předmět, Anotace)</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="255" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientRefNumber" nillable="true">
                <xs:annotation>
                    <xs:documentation>Číslo jednací za strany příjemce; nepovinné, </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderRefNumber" nillable="true">
                <xs:annotation>
                    <xs:documentation>Číslo jednací za strany odesílatele; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmRecipientIdent" nillable="true">
                <xs:annotation>
                    <xs:documentation>Spisová značka ze strany příjemce; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmSenderIdent" nillable="true">
                <xs:annotation>
                    <xs:documentation>Spisová značka a strany odesílatele; nepovinné</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:maxLength value="50" />
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dmLegalTitleLaw" nillable="true" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Zmocnění - číslo zákona; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitleYear" nillable="true" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Zmocnění - rok vydání zákona; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitleSect" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Zmocnění - paragraf v zákoně; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitlePar" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Zmocnění - odstavec v paragrafu; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmLegalTitlePoint" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Zmocnění - písmeno v odstavci; ESS</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmPersonalDelivery" nillable="true" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Příznak Do vlastních rukou - může číst pouze adresát nebo osoba s explicitně daným oprávněním</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmAllowSubstDelivery" nillable="true" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation>Náhradní doručení povoleno/nepovoleno - pouze pro některé subjekty (např. soudy)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="tRecipients">
        <xs:sequence>
            <xs:element name="dbIDRecipient" type="tns:tIdDb">
                <xs:annotation>
                    <xs:documentation>ID datové schránky příjemce</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="dmRecipientOrgUnit" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka příjemce slovně, nepovinné, možné upřesnění příjemce při podání z portálu</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="dmRecipientOrgUnitNum" nillable="true" type="xs:integer">
                <xs:annotation>
                    <xs:documentation>Organizační jednotka příjemce hodnotou z číselníku; ESS, nepovinné</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dmToHands" nillable="true" type="xs:string">
                <xs:annotation>
                    <xs:documentation>K rukám - pomocný údaj </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tMultipleMessageEnvelopeSub">
        <xs:sequence>
            <xs:group ref="tns:gMultipleMessageEnvelopeSub" />
            <xs:element minOccurs="0" maxOccurs="1" name="dmOVM" nillable="true" type="xs:boolean" />
            <xs:element minOccurs="0" maxOccurs="1" name="dmPublishOwnID" nillable="true" type="xs:boolean" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tMultipleMessageRecipients">
        <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="unbounded" name="dmRecipient" type="tns:tRecipients" />
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="tSetMultipleConceptInput">
        <xs:sequence>
            <xs:element name="dmRecipients" type="tns:tMultipleMessageRecipients" />
            <xs:element name="dmEnvelope">
                <xs:complexType>
                    <xs:complexContent mixed="false">
                        <xs:extension base="tns:tMultipleMessageEnvelopeSub">
                            <xs:attribute name="dmType" type="tns:tDmType" />
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="dmFiles" type="tns:tFilesArray" />
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SetMultipleConcept" type="tns:tSetMultipleConceptInput" />
    <xs:element name="SetMultipleConceptResponse" type="tns:tSetMultipleConceptOutput" />
</xs:schema>